{% extends "layout.html" %}
{% block body %}
<body>
  <script>
    //- Pass the cart items from server template to frontend
    window._userId = "{{ userId }}"
    window._recipientId = "{{ recipientId }}"
    // window._wcOrder = JSON.parse("{{ wcorder }}".replace(/&#34;/g, '"'))
    window._wcOrder = util.decodeJSON("{{ wcorder }}")
    window._shipSettings = util.decodeJSON("{{ wcshipping }}")
    window._shoppingCart = util.decodeJSON("{{ shopcart }}")
    // window._orderId = window._wcOrder.id.toString()
    window._orderId = "{{ orderId }}"
  </script>

  <div class="ui main container">
    <div class="ui clearing basic segment">
      <h3 class="ui left floated header">Order Shipping Method</h3>
      <h3 class="ui right floated header"></h3>
    </div>
  </div>

  <div class="ui main container">
    <div class="ui four top attached ordered steps">
      <div class="completed step">
        <div class="content">
          <div class="title">Info Input</div>
          <div class="description">Order info</div>
        </div>
      </div>
      <div class="active step">
        <i class="truck icon"></i>
        <div class="content">
          <div class="title">Shipping</div>
          <div class="description">Shipping option</div>
        </div>
      </div>
      <div class="step">
        <i class="list layout icon"></i>
        <div class="content">
          <div class="title">Review</div>
          <div class="description">Confirm order</div>
        </div>
      </div>
      <div class="step">
        <i class="payment icon"></i>
        <div class="content">
          <div class="title">Payment</div>
          <div class="description">Select payment</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui main container">
    <div class="ui segment loading_wrapper" style="min-height: 600px;">
      <div class="ui active inverted dimmer">
        <div class="ui text loader">Loading</div>
      </div>
      <p></p>
    </div>
    <div class="loaded_wrapper" style="display: none">
      <div class="ui main container">
        <h4 class="ui horizontal divider header">
          <i class="shipping icon"></i>
          <div>Shipping Info</div>
        </h4>
        <table class="ui definition table">
          <tbody>
            <tr>
              <td class="three wide column">First name</td>
              <td id="first_name"></td>
            </tr>
            <tr>
              <td>Last name</td>
              <td id="last_name"></td>
            </tr>
            <tr>
              <td>Address</td>
              <td>
                <span id="address1"></span>
                <br />
                <span id="address2"></span>
              </td>
            </tr>
            <tr>
              <td>City</td>
              <td id="city"></td>
            </tr>
            <tr>
              <td>State</td>
              <td id="state"></td>
            </tr>
            <tr>
              <td>Postal Code</td>
              <td id="postcode"></td>
            </tr>
            <tr>
              <td>Country</td>
              <td id="country"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <form class="ui big form" id="shipping_fee_form" METHOD="POST">
        <div class="ui main container">
          <h4 class="ui horizontal divider header">
            <i class="ship icon"></i>
            <div>Shipping Fees</div>
          </h4>
        </div>
        <div class="ui main container">
          <div class="inline fields">
            <div class="four wide field">
              <label>Order Total</label>
            </div>
            <div class="eight wide field">
              <label class="huge-text" id="order_totalamt"></label>
            </div>
          </div>
          <div class="inline fields">
            <div class="four wide field">
              <label>Order Tax</label>
            </div>
            <div class="eight wide field">
              <label id="order_totaltax"></label>
            </div>
          </div>
          <div class="inline fields">
            <div class="four wide field">
              <label>Ship Method</label>
            </div>
            <div class="twelve wide field">
              <select class="ui dropdown" name="ship_method">
                <option value="">Please select</option>
              </select>
            </div>
          </div>
        </div>

        <div class="ui main container">
          <button class="ui primary button" id="btn_proceed">
            Proceed To Order Review
          </button>
          <button class="ui button" id="btn_back">
            Back To Order Info Input
          </button>
        </div>
      </form>

      <div class="footer"></div>
    </div>
  </div>
</body>

<script src="https://s3.amazonaws.com/lambda-statics-us/wcbot/js/lexer.js"></script>
<script src="https://s3.amazonaws.com/lambda-statics-us/wcbot/js/parseShipping.js"></script>
<script src="https://s3.amazonaws.com/lambda-statics-us/wcbot/js/orderShipping.js"></script>
{% endblock %}